<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<style type="text/css">
		a {text-decoration : none}
		a:visited {color : black}
	</style>
</head>
<body>
<div align="center">
	<h1>Login</h1>
	<form action="/userAPI/login" method="post">
	<p>Email： <input type="text" name="email" /></p>
	<p>Password： <input type="password" name="password" /></p>
	<input type="submit" value="submit" />
	<br>
	<button><a href="/userAPI/registerPage">register</button>
</form>
</div>
</body>
</html>
